[submodule "themes/seven"]
	path = themes/seven
	url = https://github.com/mrhelloboy/seven
[submodule "themes/blog-theme"]
	path = themes/blog-theme
	url = git@github.com:velvetreactor/blog-theme.git
[submodule "themes/tailwind"]
	path = themes/tailwind
	url = git@github.com:velvetreactor/blog-theme.git
